{% extends "dashboard/base.html" %}

{% block head %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">{% endblock head %}
{% block body %}
<div class="container">

<h2>Our Project</h2>

<div class="table-responsive">
<table id="example" class=".table-hover  table table-dark table-striped pt-3 mb-3">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Url</th>
            <th>Client</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in projects %}
        <tr>
            <td><i class="fas fa-file"></i></td>
            <td>{{ i.name }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.start_date }}</td>
            <td>{{ i.end_date }}</td>
            <td>{{ i.url }}</td>
            <td>{{ i.client }}</td>
            <td>{{ i.status}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% comment %} <a href="delete_columns" class="btn btn-danger mt-3">Delete Columns</a>
<a href="rename_columns" class="btn btn-danger mt-3">Columns Name Replace</a> {% endcomment %}

{% endblock body %}